<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Contexto" connectionString="Data Source=SRVSQL2014;Initial Catalog=phi; Persist Security Info=True;Timeout=60;User ID=sa;Password=Pankada$01;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <!--<add name="Contexto" connectionString=" Data Source=fabio-sti\sqlexpress;Initial Catalog=phi;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <pages theme="Tema">
      <controls>
        <add src="~/Controles/NestedControles/Texto.ascx" tagName="cTexto" tagPrefix="ctx" />
        <add src="~/Controles/Inteiro.ascx" tagName="cInteiro" tagPrefix="cint" />
        <add src="~/Controles/NestedControles/Telefone.ascx" tagName="cTelefone" tagPrefix="ctel" />
        <add src="~/Controles/NestedControles/Email.ascx" tagName="cEmail" tagPrefix="cem" />
        <add src="~/Controles/Valor.ascx" tagName="cValor" tagPrefix="cvl" />
        <add src="~/Controles/Data.ascx" tagName="cData" tagPrefix="cdt" />
        <add src="~/Controles/DdlSexo.ascx" tagName="cDdlSexo" tagPrefix="cddlSexo" />
        <add src="~/Controles/DdlPagina.ascx" tagName="cDdlPagina" tagPrefix="cddlPagina" />
        <add src="~/Controles/DdlSistema.ascx" tagName="cDdlSistema" tagPrefix="cddlSistema" />
        <add src="~/Controles/DdlPlanos.ascx" tagName="cDdlPlano" tagPrefix="cddlPlano" />
        <add src="~/Controles/DdlModalidades.ascx" tagName="cDdlModalidades" tagPrefix="cddlModalidades" />
        <add src="~/Controles/DdlServicos.ascx" tagName="cDdlServico" tagPrefix="cddlServico" />
        <add src="~/Controles/DdlFormaPagtos.ascx" tagName="cDdlForma" tagPrefix="cddlForma" />
        <add src="~/Controles/DdlBancos.ascx" tagName="cDdlBancos" tagPrefix="cddlBancos" />
        <add src="~/Controles/ControleCNPJ.ascx" tagName="cCNPJ" tagPrefix="cCnpj" />
        <add src="~/Controles/ControleCPF.ascx" tagName="cCPF" tagPrefix="cCpf" />
        <add src="~/Controles/DdlUF.ascx" tagName="cDdlUFs" tagPrefix="cDdlUFs" />
        <add src="~/Controles/Endereco.ascx" tagName="cEnder" tagPrefix="cender" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="rsweb" assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" namespace="Microsoft.Reporting.WebForms" />
      </controls>
    </pages>
    <httpRuntime executionTimeout="110" maxRequestLength="20480" requestLengthDiskThreshold="8192" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Home.aspx" name=".ASPXFORMSAUTH" defaultUrl="Home.aspx" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>